__pycache__/*
*/__pycache__/
.vscode/*
*.m~
*.DS_Store
dataprofiles/ISONE_hourlyload/.DS_Store
dataprofiles/HawaiiData/.DS_Store
dataprofiles/.DS_Store
.idea/
results/*
results_copy/*
plots/*
datasets/baranwu33/*
datasets/node4/*

